<div class="container container-adp">
  <div class="row align-items-start">
    <div class="col-3">
      <mat-label><b>N° de solicitud</b></mat-label>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nro Solicitud" value="999999" />
      </mat-form-field>
    </div>
  </div>
  <div class="col-12">
    <mat-label><b>Buscar empresa</b></mat-label>
  </div>
  <app-buscar-empresa></app-buscar-empresa>
  <app-datos-representante-legal></app-datos-representante-legal>

  <section class="table-container" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="requisito">
        <th mat-header-cell *matHeaderCellDef>Requisito</th>
        <td mat-cell *matCellDef="let element">{{ element.requisito }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="archivo">
        <th mat-header-cell *matHeaderCellDef>Ver Documento</th>
        <td mat-cell *matCellDef="let element">{{ element.archivo }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="aprobar">
        <th mat-header-cell *matHeaderCellDef>Aprobar</th>

        <td mat-cell *matCellDef="let element">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1"></mat-radio-button>
          </mat-radio-group>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="rechazar">
        <th mat-header-cell *matHeaderCellDef>Rechazar</th>
        <td mat-cell *matCellDef="let element"> <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="2"></mat-radio-button>
        </mat-radio-group></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef>Motivo</th>
        <td mat-cell *matCellDef="let element">{{ element.motivo }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="archivoNuevo">
        <th mat-header-cell *matHeaderCellDef>Subir nuevo archivo</th>
        <td mat-cell *matCellDef="let element">{{ element.archivoNuevo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  <br />
  <p class="line_bottom"></p>
  <br />
  <div class="row justify-content-center">
    <div class="col-3">
      <button class="button button-color-g" (click)="validarRequisitos()">
        Enviar Requisitos
      </button>
    </div>
  </div>
</div>
