<div class="row align-items-start line_bottom">
  <div class="col-3">
    <mat-label><b>Nombres y Apellidos</b></mat-label>
  </div>
  <div class="col-9">
    <mat-label> Pedro Fernando Gomez Gomez</mat-label>
  </div>
  <div class="col-3">
    <mat-label><b>Tipo de Documento</b></mat-label>
  </div>
  <div class="col-3">
    <mat-label>Seleccionar</mat-label>
  </div>
  <div class="col-3">
    <mat-label><b>N° de celular</b></mat-label>
  </div>
  <div class="col-3">
    <mat-label>965553432</mat-label>
  </div>
  <div class="col-3">
    <mat-label><b>N° de documento</b></mat-label>
  </div>
  <div class="col-3">
    <mat-label>71734434</mat-label>
  </div>
  <div class="col-3">
    <mat-label><b>Email</b></mat-label>
  </div>
  <div class="col-3">
    <mat-label>ejemplo@gmail.com</mat-label>
  </div>
  <br />
  <br />
</div>
<br />
