<div class="col-12">
    <mat-label class="f-2-b">Ingrese el Rango de Fecha de Ingreso:</mat-label>
    <mat-label class="f-3">No debe exceder los 45 días</mat-label>
</div>

<div class="col-12 row">
    <!-- se arregla con padding left y rigth -->
    <div class="col-3">
        <mat-label class="f-3">Desde:</mat-label>
    </div>
    <div class="col-3">
        <mat-label>FECHA</mat-label>
    </div>
    <div class="col-3">
        <mat-label class="f-3">Hasta:</mat-label>
    </div>
    <div class="col-3">
        <mat-label>FECHA</mat-label>
    </div>
</div>