<div class="container container-adp row">
    <div class="col-12 line_bottom">
        <br>
        <br>
        <mat-label><b>Seleccione el tipo de identificación que desea solicitar</b></mat-label>
        <br />
        <br />
    </div>
        <div class="col-6 fir">
            <img src="assets/img/ident-permanentes.png" alt="logo2" />
            <mat-label><b>Identificación <br />
                    permanentes</b></mat-label>
        </div>
        <div class="col-6 sec">
            <img src="assets/img/ident-provisionales.png" alt="logo2" />
            <mat-label><b>Identificación <br />
                    provisionales</b></mat-label>
        </div>
</div>