<app-bienvenida-top></app-bienvenida-top>
<div class="col-12 bot-div">
  <div class="col-6 ext-div">
    <div class="pink-div">
      <p class="b">Solicitar credenciales</p>
      <p class="s">
        Para poder solicitar, es necesario realizar una evaluación de requisitos
        de la Empresa.
      </p>
      <button  (click)=" requisitos()" >Ingrese aquí</button>
    </div>
  </div>
  <div class="col-6 ext-div">
    <div class="green-div">
      <p class="b">Ingresar requisitos</p>
      <p class="s">
        Si usted ya cuenta con credenciales de acceso para registrar sus
        requisitos.
      </p>
      <button  (click)="credenciales()">Ingrese aquí</button>
    </div>
  
    </div>
</div>