div {
  height: auto;
}

.bot-div {
  display: flex;
  height: 631px;
  .ext-div {
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    .pink-div {
      background: #e5008f;
      width: 320px;
      height: 260px;
      margin-left: 320px;
      margin-bottom: 100px;
    }
    .green-div {
      background: #799900;
      width: 320px;
      height: 260px;
      margin-right: 320px;
      margin-bottom: 100px;
    }
  }
}

// .bot-div {
//   display: flex;
//   justify-content: center;
//   height: 631px;
//   background-color: rgb(255, 255, 255);
//   .rosa-div {
//     position: relative;
//     width: 320px;
//     height: 260px;
//     top: 80px;
//     right: 47px;
//     flex-shrink: 0;
//     background: #e5008f;
//   }
//   .verde-div {
//     position: relative;
//     width: 320px;
//     height: 260px;
//     top: 80px;
//     left: 47px;
//     flex-shrink: 0;
//     background: #799900;
//   }
// }

.b {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 143px;
  height: 72px;
  top: 41px;
  left: 49px;
  margin: 0;
}

.s {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 230px;
  height: 51px;
  top: 46px;
  left: 49px;
}

button {
  position: relative;
  width: 115px;
  height: 31px;
  left: 102px;
  top: 47px;
  flex-shrink: 0;
  border-radius: 27px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
