<app-bienvenida-top></app-bienvenida-top>
<br><br><br>
<div class="container">
    <div class="d-flex justify-content-center">
      <div class="row align-items-center">
        <form action="index.html" autocomplete="off">
          <h2 class="d-flex justify-content-center">Iniciar sesión</h2>
          <br>
          <br>
          <div class="col m-b-20 input">
            <mat-form-field class="input-login" appearance="outline">
              <mat-label>Ingresa tu Usuario</mat-label>
              <input 
                matInput
                formControlName="email"
                required
                autofocus
                name="email."
              />
              <button type="button" mat-icon-button matSuffix>
                <mat-icon>person_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col m-b-30">
            <mat-form-field class="input-login" appearance="outline">
              <mat-label>Ingresa tu contraseña</mat-label>
              <input
                matInput
                formControlName="password"
                required
                name="password"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
              >
                <mat-icon>shield_lock</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-center">
            <button class="button button-color-g" color="primary" (click)="ingresarRequisitos()">Acceder</button>
          </div>
          <br>
          
          <div class="d-flex justify-content-center">
            <a href="">Recuperar contraseña <mat-icon class="material-icons-outlined">help_outline</mat-icon></a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="">Cambiar contraseña <mat-icon>help_outline</mat-icon></a>
          </div>
        </form>
      </div>
  </div>
</div>
<br><br><br><br>
