.upper-body {
  width: 1440px;
  height: 393px;
}
.input-login {
  width: 351px;
  height: 45px;
  border-radius: 5px;
}

::ng-deep .input {
    .mat-focused .mat-form-field-ripple {
      /*change color of underline when focused*/
      background-color: blue !important;
    }
    .mat-focused .mat-form-field-label {
      /*change color of label when focused*/
      color: blue !important;
     }
  }