<div class="row align-items-start line_bottom">
  <div class="col-3">
    <mat-label class="f-3-b">Ingrese Nro de RUC</mat-label>
  </div>
  <div class="col-2">
    <mat-label class="f-3">20514285419</mat-label>
  </div>
  <div class="col-3">
    <mat-label class="f-3-b">Tipo de Empresa</mat-label>
  </div>
  <div class="col-4">
    <mat-label class="f-3">Empresa de Servicios Especializados Aeroportuarios</mat-label>
  </div>
  <div class="col-3">
    <mat-label class="f-3-b">Razón Social</mat-label>
  </div>
  <div class="col-5">
    <mat-label class="f-3">TALMA SERVICIOS AEROPORTUARIOS SA.</mat-label>
  </div>
</div>
<br />
